
<div class="container">
	<div class="header">
		<div class="date">
			<p style="font-family: 'IBM Plex Serif', serif; margin-bottom: -2px;">Friday,5 March 2019</p>
		</div>
		<hr>
		<div class="website-name">
			<h1><a href="Website Name">Vote India</a></h1>
		</div>
		<div class="name-footer"><p>Voting Right to everyone</p></div>
		<hr>
		<div class="navbar">
		<ul>
			<li><a href="default.asp">Home</a></li>
			<li><a href="news.asp">News</a></li>
			<li><a href="contact.asp">Contact</a></li>
			<li><a href="about.asp">About</a></li>
		</ul>
		</div>
		<hr style="color: black; height: 3px; background-color: black;">
	</div>
</div>