<% include partials/header.ejs %>

  <div class="container">
  <div class="am_thebox">
    <div class="am_left">
      <div class="am_photos">
        <img name="am_slide" width="100%" height="400px" style="box-shadow:  -5px 3px 5px #888888;" />
    
      </div>
      <div class="am_news">
        <iframe class="am_iframe" src="https://www.ndtv.com/topic/india-election"></iframe>
        <!-- <iframe class="am_iframe" src="https://www.hindustantimes.com/lok-sabha-elections/"></iframe> -->
      </div>
    </div>
  <div class="am_line">
    <div class="a_line">
      
    </div>
    
  </div>
  <div class="am_information">
    <ul><li><h3>Popular Articles</h3></li></ul>
    <div class="am_infocontent"> 
      <div class="am_infoleft">
        <span class="am_large">1.</span> 
      <a href="http://www.elections.in/who-can-vote-in-india.html" target="blank">Who Can Become A Voter?</a>
        
      </div>
      <div class="am_inforight">
        <img src="/images/Become-voter.jpg" style="height: 100%; width: 100%;">
      </div>
    </div>
    <hr>
    <div class="am_infocontent"> 
      <div class="am_infoleft">
        <span class="am_large">2.</span> 
      <a href="http://www.elections.in/why-should-we-vote-in-india.html" target="blank">Why Should I Vote?</a>
        
        
      </div>
      <div class="am_inforight">
        <img src="/images/Why-vote.jpg" style="height: 100%; width: 100%;">
        
      </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
            <span class="am_large">3.</span> 
      <a href="https://www.bankbazaar.com/voter-id/voting-rights-in-india.html" target="blank">Voting Rights</a>
        
        
           </div>
          <div class="am_inforight">
            <img src="/images/voting-rights.jpg" style="height: 100%; width: 100%;">
        
          </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
            <span class="am_large">4.</span> 
      <a href="https://www.nvsp.in/forms/Forms/form6?lang=en-GB" target="blank">Application form for first time voters
      </a>
           </div>
           <div class="am_inforight">
            <img src="/images/form.jpg" style="height: 100%; width: 100%;">
        
           </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
            <span class="am_large">5.</span> 
      <a href="https://www.nvsp.in/forms/Forms/form6?lang=en-GB" target="blank">Lok Sabha 2019 Live Updates</a>
        
        
           </div>
           <div class="am_inforight">
            <img src="/images/EVM.jpg" style="height: 100%; width: 100%;">
        
           </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
            <span class="am_large">6.</span> 
      <a href="https://electoralsearch.in" target="blank">Check your name in Voter list</a>
        
        
           </div>
           <div class="am_inforight">
            <img src="last.jpg" style="height: 100%; width: 100%;">
        
           </div>
      
    </div>
    <hr>
    
      
    </div>
  </div>
</div>

<% include partials/footer.ejs %>