<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="practice.css">
  <script type="text/javascript" src="practice.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
</head>
<body>
  <hr style="border-width: 1px; border-color: black; width: 80%;">
  <div class="am_thebox">
    <div class="am_left">
      <div class="am_photos">
        <img name="am_slide" width="100%" height="400px" style="box-shadow:  -5px 3px 5px #888888;" />
    
      </div>
      <div class="am_news">
        <iframe class="am_iframe" src="https://www.ndtv.com/topic/india-election" ></iframe>
    
      </div>
    </div>
  <div class="am_line">
    <div class="a_line">
      
    </div>
    
  </div>
  <div class="am_information">
    <ul><li><h3>Popular Articles</h3></li></ul>
    <div class="am_infocontent"> 
      <div class="am_infoleft">
        <span class="am_large">1.</span> 
      <h2 ><a href="https://www.nvsp.in/forms/Forms/form6?lang=en-GB" target="blank">Form 6</a></h2>
        
      </div>
      <div class="am_inforight">
        <img src="rabbit.jpg" style="height: 100%; width: 100%;">
      </div>
    </div>
    <hr>
    <div class="am_infocontent"> 
      <div class="am_infoleft">
        
      </div>
      <div class="am_inforight">
        
      </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
        
           </div>
          <div class="am_inforight">
        
          </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
        
           </div>
           <div class="am_inforight">
        
           </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
        
           </div>
           <div class="am_inforight">
        
           </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
           <div class="am_infoleft">
        
           </div>
           <div class="am_inforight">
        
           </div>
      
    </div>
    <hr>
    <div class="am_infocontent"> 
         <div class="am_infoleft">
        
         </div>
         <div class="am_inforight">
        
         </div>
      
    </div>
  </div>
    


</body>
</html>