#map {
    height: 100%;
}

  /* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	margin: 0 auto;
	box-sizing: border-box;

}

.container {
  max-width: 1000px;
  margin: auto;
  background: white;
  padding: 5px;
}



.website-name {
	text-align: center;
	font-size: 220%;
	font-family: 'Playfair Display', serif;
	margin-top: -10px;
}

.name-footer{

	text-align: center;
	font-size: 120%;
	margin-top: -50px;
	font-family: 'IBM Plex Serif', serif;

}

.navbar{
	margin-top: -5px;
}

li{
	display: inline;
	padding-right: 90px;
	padding-left: 80px;
	font-size: 120%;
}

a:link{
	text-decoration: none;
	color: black;


}

a:hover{
	color: rgb(229, 99, 63)
}



.centre
{
	text-align:center;
}
#state {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #state td, #state th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #state tr:nth-child(even){background-color: #f2f2f2;}
  
  #state tr:hover {background-color: #ddd;}
  
  #state th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
  }
  table, th, td {
	border: 1px solid black;
  }

#polpar{
	margin: 30px auto;
}


.parties {

}

